Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook git hooks configuration
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: pnpm lint --cache --fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test

feat: scope comment syntax transformation to form boundaries
  docs/markform-spec.md
  packages/markform/src/engine/preprocess.ts
  packages/markform/tests/unit/engine/parse-comment.test.ts
  packages/markform/tests/unit/engine/preprocess.test.ts
Due: lint, typecheck

test: add tests for all Markdoc attribute syntax variations
  packages/markform/src/engine/preprocess.ts
  packages/markform/tests/unit/engine/preprocess.test.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-functions.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

sync: update beads issues
  .beads/issues.jsonl
Due: none

chore: add changeset for v0.1.16
  .changeset/v0.1.16.md
Due: none

chore: release markform v0.1.16
  .changeset/v0.1.16.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

docs: clarify release notes workflow in publishing guide
  docs/publishing.md
Due: none

chore: update tryscript to 0.1.6
  package.json
  packages/markform/package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade tryscript to ^0.1.6
  .github/workflows/ci.yml
  packages/markform/package.json
Due: none

fix(ci): use merged coverage from coverage-tryscript/
  .github/workflows/ci.yml
Due: none

fix(config): add json-summary reporter to tryscript coverage
  packages/markform/tryscript.config.mjs
Due: lint

docs: clarify Markform content preservation semantics in spec
  docs/markform-spec.md
Due: none

docs: add plan spec for content preservation in serialization
  docs/project/specs/active/plan-2026-01-19-content-preservation-serialization.md
Due: none

chore: Disable beads, update tbd skill.
  .beads-disabled/.beads/.gitignore
  .beads-disabled/.beads/README.md
  .beads-disabled/.beads/config.yaml
  .beads-disabled/.beads/interactions.jsonl
  .beads-disabled/.beads/issues.jsonl
  .beads-disabled/.beads/last-touched
  .beads-disabled/.beads/metadata.json
  .beads-disabled/.gitattributes
  .beads-disabled/RESTORE.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/setup-beads.sh
  .claude/settings.json
  .claude/skills/tbd/SKILL.md
  .cursor/rules/tbd.mdc
  .gitattributes
Due: none

docs: enhance content preservation spec with testing strategy and resolved questions
  .claude/skills/tbd/SKILL.md
  .tbd/.gitignore
  .tbd/config.yml
  AGENTS.md
  docs/project/specs/active/plan-2026-01-19-content-preservation-serialization.md
Due: none

feat(engine): add rawSource and tagRegions to ParsedForm for content preservation
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/parse.ts
  packages/markform/tests/unit/engine/parse-positions.test.ts
Due: lint, typecheck

feat(engine): implement splice-based content preservation in serialization
  packages/markform/src/engine/serialize.ts
  packages/markform/tests/unit/engine/serialize-preservation.test.ts
Due: lint, typecheck

test(engine): add Phase 4 edge case tests for content preservation
  packages/markform/tests/unit/engine/serialize-preservation.test.ts
Due: lint, typecheck

feat(cli): add --normalize flag for content preservation control
  packages/markform/src/cli/commands/apply.ts
  packages/markform/src/cli/commands/export.ts
  packages/markform/src/cli/commands/fill.ts
Due: lint, typecheck

docs: add validation plan for content preservation feature
  docs/project/specs/active/valid-2026-01-19-content-preservation-serialization.md
Due: none

fix(engine): skip code blocks when finding form boundaries
  packages/markform/src/engine/serialize.ts
  packages/markform/tests/unit/engine/serialize-preservation.test.ts
Due: lint, typecheck

docs: Add implicit checkboxes feature design spec
  .tbd/.gitignore
  .tbd/config.yml
  AGENTS.md
  docs/design/implicit-checkboxes.md
Due: none

docs: Replace design doc with proper plan spec for implicit checkboxes
  docs/design/implicit-checkboxes.md
  docs/project/specs/active/plan-2026-01-23-implicit-checkboxes.md
Due: none

docs: Expand implicit checkboxes plan with option metadata and validation
  docs/project/specs/active/plan-2026-01-23-implicit-checkboxes.md
Due: none

docs: Update spec and reference for implicit checkboxes feature
  docs/markform-reference.md
  docs/markform-spec.md
Due: none

docs: Defer option metadata to future possibilities
  docs/markform-reference.md
  docs/markform-spec.md
  docs/project/specs/active/plan-2026-01-23-implicit-checkboxes.md
Due: none

docs: Clarify syntax equivalence in implicit checkboxes plan
  docs/project/specs/active/plan-2026-01-23-implicit-checkboxes.md
Due: none

docs: Update README examples to show full form with table field
  README.md
Due: none

docs: Add plan document examples and API documentation
  docs/markform-apis.md
  packages/markform/examples/plan-document/plan-document-markdoc.form.md
  packages/markform/examples/plan-document/plan-document.form.md
Due: none

docs: Add progress example for plan documents
  packages/markform/examples/plan-document/plan-document-progress.form.md
Due: none

docs: Clarify that implicit checkboxes follow standard option ID rules
  docs/markform-reference.md
  docs/markform-spec.md
  docs/project/specs/active/plan-2026-01-23-implicit-checkboxes.md
Due: none

fix: Add validation for nested field tags
  packages/markform/src/engine/parseFields.ts
  packages/markform/tests/unit/engine/parse.test.ts
Due: lint, typecheck

feat: Add markdownHeaders utility for heading discovery
  packages/markform/src/markdown/markdownHeaders.ts
  packages/markform/tests/unit/markdown/markdownHeaders.test.ts
Due: lint, typecheck

feat: Add findAllCheckboxes function for checkbox discovery
  packages/markform/src/engine/injectIds.ts
  packages/markform/tests/unit/engine/injectIds.test.ts
Due: lint, typecheck

feat: Add injectCheckboxIds function for ID injection
  packages/markform/src/engine/injectIds.ts
  packages/markform/tests/unit/engine/injectIds.test.ts
Due: lint, typecheck

feat: Add injectHeaderIds function for heading ID injection
  packages/markform/src/engine/injectIds.ts
  packages/markform/tests/unit/engine/injectIds.test.ts
Due: lint, typecheck

feat: Add implicit checkboxes field for plan documents
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/parse.ts
  packages/markform/tests/unit/engine/parse.test.ts
Due: lint, typecheck

feat: Export new markdown utilities and ID injection APIs
  packages/markform/src/index.ts
Due: lint, typecheck

test: Add golden tests for implicit checkboxes parsing
  packages/markform/tests/golden/golden.test.ts
Due: lint, typecheck
