Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook git hooks configuration
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: pnpm lint --cache --fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test

fix: Make patchesRejected required boolean, add tests and docs
  README.md
  docs/markform-apis.md
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/tests/unit/cli/fillLogging.test.ts
  packages/markform/tests/unit/harness/harness.test.ts
Due: lint, typecheck

feat: Replace patchesRejected boolean with rejectedPatches array
  .beads/issues.jsonl
  docs/markform-apis.md
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/harness.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/index.ts
  packages/markform/tests/unit/cli/fillLogging.test.ts
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/harness/harness.test.ts
Due: lint, typecheck

chore: Update beads and README formatting
  .beads/issues.jsonl
  README.md
Due: none

docs: Improve comparison table wording for JSON editors
  README.md
Due: none

fix: Add table field patch format to LLM prompts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/prompts.ts
  packages/markform/tests/unit/harness/harness.test.ts
Due: lint, typecheck

test: Add prompt content tests for field type documentation
  packages/markform/tests/unit/harness/prompts.test.ts
Due: lint, typecheck

feat: Add prompt context logging to session transcripts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/harness.ts
  packages/markform/src/harness/programmaticFill.ts
Due: lint, typecheck

Add table field documentation and consolidate movie research ratings
  docs/markform-reference.md
  packages/markform/examples/movie-research/movie-research-deep.form.md
  packages/markform/examples/movie-research/movie-research-demo-table.form.md
Due: none

docs: Add JSON Schema export documentation, close completed issues
  .beads/issues.jsonl
  README.md
  docs/markform-reference.md
  docs/project/specs/done/plan-2025-12-29-examples-run-commands.md
  docs/project/specs/done/valid-2025-12-29-examples-run-commands.md
Due: none

docs: Simplify demo form.
  packages/markform/examples/movie-research/movie-research-demo-table.form.md
Due: none

fix: Include correct patch format in rejection feedback
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/prompts.ts
Due: lint, typecheck

fix: Add rejection feedback to LLM context prompts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
Due: lint, typecheck

feat: Record rejected patches in session transcripts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/harness.ts
  packages/markform/tests/unit/harness/prompts.test.ts
Due: lint, typecheck

test: Add golden test for rejection feedback workflow
  packages/markform/examples/rejection-test/rejection-test-mock-filled.form.md
  packages/markform/examples/rejection-test/rejection-test.form.md
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/scripts/regen-golden-sessions.ts
  packages/markform/src/harness/rejectionMockAgent.ts
  packages/markform/tests/golden/runner.ts
Due: lint, typecheck

fix: Include full table content in report and YAML exports
  packages/markform/src/cli/lib/exportHelpers.ts
  packages/markform/src/engine/serialize.ts
  packages/markform/tests/unit/cli/exportHelpers.test.ts
  packages/markform/tests/unit/engine/serialize.test.ts
Due: lint, typecheck

feat: Add comprehensive golden test coverage for exports
  packages/markform/examples/rejection-test/rejection-test-mock-filled.report.md
  packages/markform/examples/rejection-test/rejection-test-mock-filled.schema.json
  packages/markform/examples/rejection-test/rejection-test-mock-filled.yml
  packages/markform/examples/simple/simple-mock-filled.report.md
  packages/markform/examples/simple/simple-mock-filled.schema.json
  packages/markform/examples/simple/simple-mock-filled.yml
  packages/markform/examples/simple/simple-skipped-filled.report.md
  packages/markform/examples/simple/simple-skipped-filled.schema.json
  packages/markform/examples/simple/simple-skipped-filled.yml
  packages/markform/scripts/regen-golden-sessions.ts
  packages/markform/tests/golden/golden.test.ts
Due: lint, typecheck

docs: simplify movie-research-demo and update README example
  README.md
  packages/markform/examples/movie-research/movie-research-demo-table.form.md
  packages/markform/examples/movie-research/movie-research-demo.form.md
Due: none

docs: update README example output and add YAML export toggle
  README.md
Due: none

docs: Another readme update.
  README.md
Due: none

fix(cli): add missing space in Markform tag colorization
  packages/markform/src/cli/lib/fileViewer.ts
Due: lint, typecheck

fix(cli): add missing space in Markform tag colorization
  README.md
Due: none

fix(serialize): table values without fences and preserve frontmatter
  eslint.config.js
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/scripts/regenerate-session-hashes.mjs
  packages/markform/src/engine/serialize.ts
  packages/markform/tests/unit/engine/serialize.test.ts
Due: lint, typecheck

style: improve whitespace in README and demo form
  README.md
  packages/markform/examples/movie-research/movie-research-demo.form.md
Due: none

chore(beads): add lint cleanup issue markform-480
  .beads/issues.jsonl
Due: none

chore: remove redundant regenerate-session-hashes.mjs
  eslint.config.js
  packages/markform/scripts/regenerate-session-hashes.mjs
Due: lint

chore: add changeset for v0.1.8
  .changeset/v0.1.8.md
Due: none

chore: release markform v0.1.8
  .changeset/v0.1.8.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

fix: prevent infinite loop when multi_select answered with no selections
  packages/markform/src/engine/inspect.ts
  packages/markform/src/engine/summaries.ts
  packages/markform/tests/unit/engine/inspect.test.ts
  packages/markform/tests/unit/engine/summaries.test.ts
Due: lint, typecheck

chore: remove movie-research-basic.form.md example
  README.md
  packages/markform/examples/movie-research/movie-research-basic.form.md
  packages/markform/src/cli/examples/exampleRegistry.ts
Due: lint, typecheck

refactor: rename movie-research-deep to movie-deep-research
  packages/markform/examples/movie-research/movie-deep-research.form.md
  packages/markform/src/cli/examples/exampleRegistry.ts
  packages/markform/src/cli/lib/cliTypes.ts
  packages/markform/src/cli/lib/formatting.ts
Due: lint, typecheck

docs: update spec files for movie-deep-research rename
  .beads/issues.jsonl
  docs/general/research/current/research-code-coverage-typescript.md
  docs/project/specs/done/plan-2025-12-27-table-field-type.md
  docs/project/specs/done/plan-2025-12-28-unified-field-tag.md
  docs/project/specs/done/plan-2025-12-29-examples-run-commands.md
  docs/project/specs/done/valid-2025-12-27-export-and-reporting-improvements.md
Due: none

refactor: rename optional_empty to optional_unanswered for clarity
  docs/markform-spec.md
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/src/cli/lib/formatting.ts
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/inspect.ts
  packages/markform/src/harness/harness.ts
  packages/markform/tests/unit/engine/inspect.test.ts
Due: lint, typecheck

fix(cli): add table/date/year support to dump, inspect, and serve
  packages/markform/src/cli/commands/dump.ts
  packages/markform/src/cli/commands/inspect.ts
  packages/markform/src/cli/commands/serve.ts
Due: lint, typecheck

docs: add code coverage implementation plan and update research
  docs/general/research/current/research-code-coverage-typescript.md
  docs/project/specs/active/plan-2025-12-31-code-coverage-implementation.md
Due: none

docs: add validation plan for table/date/year CLI support fix
  docs/project/specs/active/valid-2025-12-31-table-date-year-cli-support.md
Due: none

docs: add plan spec for enhanced session golden tests with full LLM wire format
  docs/project/specs/active/plan-2025-12-31-enhanced-session-golden-tests.md
Due: none

Fix README typos and examples
  README.md
Due: none

docs: add validation plan for multi-select infinite loop fix
  docs/project/specs/active/valid-2025-12-31-fix-multi-select-infinite-loop.md
Due: none

docs: update research with latest GitHub Action versions and add implementation beads
  .beads/issues.jsonl
  .beads/last-touched
  docs/general/research/current/research-code-coverage-typescript.md
Due: none

docs: complete plan spec with full template sections and AI SDK research
  docs/project/specs/active/plan-2025-12-31-enhanced-session-golden-tests.md
Due: none
