Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: pnpm lint --cache --fix {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm typecheck

fix: regenerate golden sessions with correct 'value' property names
  docs/project/specs/plan-2026-01-02-simplify-golden-session-tests.md
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-mock-filled.schema.json
  packages/markform/examples/simple/simple-skipped-filled.schema.json
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.schema.json
  packages/markform/examples/simple/simple.session.yaml
Due: none

docs: More plans, beads.
  .beads/issues.jsonl
  docs/project/specs/active/plan-2026-01-02-simplify-golden-session-tests.md
Due: none

chore: create beads for golden test simplification
  .beads/issues.jsonl
Due: none

feat: implement best-effort patch application with value coercion
  .beads/issues.jsonl
  .beads/last-touched
  docs/project/specs/completed/implemented-2026-01-03-best-effort-patch-application.md
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/src/cli/commands/apply.ts
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/harness.ts
  packages/markform/src/integrations/vercelAiSdkTools.ts
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/engine/simple-form-validation.test.ts
Due: lint, typecheck

docs: add validation plan for best-effort patch application
  .beads/issues.jsonl
  docs/project/specs/active/valid-2026-01-03-best-effort-patch-application.md
Due: none

Rename implemented-2026-01-03-best-effort-patch-application.md to plan-2026-01-03-best-effort-patch-application.md
  docs/project/specs/completed/plan-2026-01-03-best-effort-patch-application.md
Due: none

refactor: simplify golden tests to direct file comparison
  .beads/issues.jsonl
  .beads/last-touched
  packages/markform/tests/golden/README.md
  packages/markform/tests/golden/golden.test.ts
  packages/markform/tests/golden/helpers.ts
  packages/markform/tests/golden/runner.ts
  packages/markform/tests/golden/validation.test.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-functions.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

chore: merge upstream and update golden tests
  .beads/issues.jsonl
  .beads/last-touched
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/tests/golden/README.md
Due: none

feat: add coercion warnings to session file format
  .beads/issues.jsonl
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/harness.ts
  packages/markform/tests/golden/README.md
Due: lint, typecheck

docs: add validation plan for golden session test simplification
  docs/project/specs/active/valid-2026-01-02-simplify-golden-session-tests.md
Due: none

chore: add changeset for v0.1.13
  .changeset/v0.1.13.md
Due: none

chore: release markform v0.1.13
  .changeset/v0.1.13.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

docs: comprehensive checkbox type coercion analysis
  .beads/issues.jsonl
  .beads/last-touched
Due: none

docs: add plan spec for array-to-checkboxes coercion
  .beads/issues.jsonl
  docs/project/specs/active/plan-2026-01-03-array-to-checkboxes-coercion.md
Due: none

docs: add plan spec for type coercion golden tests
  .beads/issues.jsonl
  .beads/last-touched
  docs/project/specs/active/plan-2026-01-03-type-coercion-golden-tests.md
Due: none

chore: add implementation beads for type coercion specs
  .beads/issues.jsonl
  .beads/last-touched
Due: none

feat: add array-to-checkboxes coercion for LLM compatibility
  .beads/issues.jsonl
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/valueCoercion.ts
  packages/markform/src/harness/prompts.ts
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/valueCoercion.test.ts
Due: lint, typecheck

docs: enhance prompt instructions with explicit examples
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/prompts.ts
  packages/markform/tests/golden/validation.test.ts
Due: lint, typecheck

docs: add validation plan and update spec status
  docs/project/specs/active/plan-2026-01-03-array-to-checkboxes-coercion.md
  docs/project/specs/active/plan-2026-01-03-type-coercion-golden-tests.md
  docs/project/specs/active/valid-2026-01-03-array-to-checkboxes-coercion.md
Due: none

docs: add table field example and complete multi mode states
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/src/harness/prompts.ts
Due: lint, typecheck

fix: complete checkbox mode states in prompts and add abort guidance
  docs/project/specs/active/valid-2026-01-03-array-to-checkboxes-coercion.md
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/src/harness/prompts.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

chore: add changeset for v0.1.14
  .changeset/v0.1.14.md
Due: none

chore: release markform v0.1.14
  .changeset/v0.1.14.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

Add plan spec for agent CLI logging improvements
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Expand agent CLI logging plan with library support and console improvements
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

feat: upgrade to tryscript v0.1.0 with clean test format
  .github/workflows/ci.yml
  docs/project/specs/active/plan-2026-01-02-tryscript-cli-testing.md
  packages/markform/package.json
  packages/markform/tests/cli/commands.tryscript.md
  packages/markform/tests/cli/workflows.tryscript.md
  packages/markform/tryscript.config.mjs
  pnpm-lock.yaml
Due: lint

Complete tryscript v0.1.0 upgrade for CLI testing
  .beads/issues.jsonl
  docs/project/specs/done/plan-2026-01-02-tryscript-cli-testing.md
  packages/markform/.beads/issues.jsonl
  packages/markform/.beads/last-touched
Due: none

docs: finalize validation plan and move completed specs to done/
  docs/project/specs/done/tryscript-bug-report.md
  docs/project/specs/done/valid-2026-01-02-tryscript-cli-testing.md
Due: none

feat: add c8 coverage support for tryscript CLI tests
  .gitignore
  packages/markform/package.json
  pnpm-lock.yaml
Due: none

Update logging plan: default mode now includes tool details and source summaries
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Resolve open questions in agent CLI logging plan
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Update logging levels: move more info to default, verbose for operational details
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Add agent reasoning capture to CLI logging plan
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
  package.json
  pnpm-lock.yaml
Due: none

Add wire format content selection and TTY handling clarifications
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Add comprehensive validation plan for CLI logging improvements
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

Add comprehensive edge case, error, security, and compatibility testing
  docs/project/specs/active/plan-2026-01-04-agent-cli-logging-improvements.md
Due: none

feat: upgrade to tryscript v0.1.1 with built-in coverage support
  package.json
  packages/markform/package.json
  packages/markform/tryscript.config.mjs
  pnpm-lock.yaml
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  typecheck: any of: *.{ts,tsx}
