Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix: change effectiveParallelism to llmTimeMs/totalMs
  docs/project/specs/active/plan-2026-02-14-fill-record-performance-metrics.md
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
  packages/markform/tests/unit/harness/formatFillRecordSummary.test.ts
Due: format, lint, typecheck

fix: all diagnostic log functions write to stderr
  packages/markform/src/cli/lib/shared.ts
  packages/markform/tests/cli/cli-integration.tryscript.md
  packages/markform/tests/unit/cli/fillLogging.test.ts
  packages/markform/tests/unit/cli/shared.test.ts
Due: format, lint, typecheck

docs: README update and plan specs for table constraints, tiered validation
  README.md
  docs/project/specs/active/plan-2026-02-14-table-column-constraints.md
  docs/project/specs/active/plan-2026-02-14-tiered-validation-model.md
Due: none

feat: add per-column constraints for table fields
  .gitignore
  packages/markform/examples/twitter-thread/twitter-thread.form.md
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/jsonSchema.ts
  packages/markform/src/engine/parseFields.ts
  packages/markform/src/engine/serialize.ts
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/src/engine/validate.ts
  packages/markform/tests/qa/twitter-thread-manual-test.qa.md
  packages/markform/tests/unit/engine/serialize.test.ts
  packages/markform/tests/unit/engine/validate.test.ts
  packages/markform/tests/unit/jsonSchema.test.ts
Due: format, lint, typecheck

refactor: rename effectiveParallelism to llmParallelism
  docs/project/specs/active/plan-2026-02-14-fill-record-performance-metrics.md
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/formatFillRecordSummary.ts
  packages/markform/src/render/fillRecordRenderer.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
  packages/markform/tests/unit/harness/formatFillRecordSummary.test.ts
Due: format, lint, typecheck

chore: remove .beads-disabled directory (fully migrated to tbd)
  .beads-disabled/.beads/.gitignore
  .beads-disabled/.beads/README.md
  .beads-disabled/.beads/config.yaml
  .beads-disabled/.beads/interactions.jsonl
  .beads-disabled/.beads/issues.jsonl
  .beads-disabled/.beads/last-touched
  .beads-disabled/.beads/metadata.json
  .beads-disabled/.gitattributes
  .beads-disabled/RESTORE.md
Due: format

chore: remove .cursor/rules (no longer using Cursor)
  .cursor/rules/automatic-shortcut-triggers.mdc
  .cursor/rules/backward-compatibility-rules.mdc
  .cursor/rules/convex-rules.mdc
  .cursor/rules/general-coding-rules.mdc
  .cursor/rules/general-comment-rules.mdc
  .cursor/rules/general-eng-assistant-rules.mdc
  .cursor/rules/general-style-rules.mdc
  .cursor/rules/general-testing-rules.mdc
  .cursor/rules/python-rules-opinionated.mdc
  .cursor/rules/python-rules.mdc
  .cursor/rules/tbd.mdc
  .cursor/rules/tool-development-rules.mdc
  .cursor/rules/typescript-cli-tool-rules.mdc
  .cursor/rules/typescript-rules.mdc
Due: none

chore: remove .speculate directory (no longer using Speculate)
  .speculate/copier-answers.yml
  .speculate/settings.yml
Due: format

docs: document per-column constraints in spec and reference
  docs/markform-reference.md
  docs/markform-spec.md
Due: none

fix: guard date column formatMinimum/formatMaximum for draft-07 compatibility
  packages/markform/src/engine/jsonSchema.ts
  packages/markform/tests/unit/jsonSchema.test.ts
Due: format, lint, typecheck

fix(ci): stop coverage badges from pushing directly to protected main
  .github/workflows/ci.yml
Due: format

fix(ci): remove coverage badge and badge automation
  .github/workflows/ci.yml
  README.md
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-functions.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
  docs/development.md
  scripts/update-badge-links.sh
Due: format

docs: revise tool choice policy spec after engineering review
  docs/project/specs/active/plan-2026-02-02-tool-choice-policies.md
Due: none

fix: validate column constraints match column type at parse time
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/parseFields.ts
  packages/markform/tests/unit/engine/validate.test.ts
Due: format, lint, typecheck

Update badges
  README.md
Due: none

fix(ci): update README diagram and fix tryscript badge test
  README.md
  packages/markform/tests/cli/commands.tryscript.md
Due: none

chore: release markform v0.1.25
  packages/markform/CHANGELOG.md
  packages/markform/package.json
  release-notes.md
Due: format

fix: handle tool errors and pass providerTools in parallel path (#153, #154)
  docs/project/specs/active/plan-2026-02-17-fix-tool-error-and-parallel-provider.md
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/tests/unit/harness/liveAgent.test.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: format, lint, typecheck

docs: Minor clarification.
  README.md
Due: none

fix: re-throw tool errors with non-empty message instead of swallowing (#153)
  packages/markform/src/harness/liveAgent.ts
  packages/markform/tests/unit/harness/liveAgent.test.ts
Due: format, lint, typecheck

docs: update spec to reflect revised error handling approach (#153)
  docs/project/specs/active/plan-2026-02-17-fix-tool-error-and-parallel-provider.md
Due: none

chore: add changeset for v0.1.26
  .changeset/v0.1.26.md
Due: none

chore: release markform v0.1.26
  .changeset/v0.1.26.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: format

docs: update research doc recommendations to match revised design
  docs/project/research/research-2026-02-02-tool-choice-parameter.md
Due: none

chore: remove temporary release notes file
  release-notes.md
Due: none

chore: update tbd config for v0.1.13 shortcut/guideline renames
  .tbd/config.yml
Due: format

Add plan spec for fill harness observability and signal propagation (issue #157)
  docs/project/specs/active/plan-2026-02-19-fill-harness-observability.md
Due: none

Update spec: resolve open questions, add MF-5 raw event log
  docs/project/specs/active/plan-2026-02-19-fill-harness-observability.md
Due: none

Refine spec to line-level detail with senior engineering review
  docs/project/specs/active/plan-2026-02-19-fill-harness-observability.md
Due: none

feat: implement fill harness observability and signal propagation (MF-1 through MF-5)
  docs/project/specs/active/plan-2026-02-19-fill-harness-observability.md
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
Due: format, lint, typecheck

test: add tests for MF-1 through MF-5 observability features
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: format, lint, typecheck

fix: sanitize eventLog tool input/output for JSON serialization
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
Due: format, lint, typecheck

fix: remove italic formatting from report sentinel values (empty/skipped/aborted)
  packages/markform/examples/simple/simple-mock-filled.report.md
  packages/markform/examples/simple/simple-skipped-filled.report.md
  packages/markform/examples/simple/simple.raw.md
  packages/markform/src/engine/serialize.ts
  packages/markform/tests/unit/engine/serialize.test.ts
Due: format, lint, typecheck

fix: fire onLlmCallEnd on generateText() failure with error and duration
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
Due: format, lint, typecheck

docs: add observability documentation for fill harness (MF-1 through MF-5)
  docs/markform-apis.md
  docs/project/specs/active/plan-2026-02-19-fill-harness-observability.md
Due: none

chore: flowmark formatting
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-02-13-extensible-provider-support.md
Due: none

chore: add changeset for v0.1.27
  .changeset/v0.1.27.md
Due: none

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  typecheck: any of: *.{ts,tsx}
