Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat!: make maxRetries an explicit required parameter (no default)
  packages/markform/scripts/test-live-agent.ts
  packages/markform/src/cli/commands/fill.ts
  packages/markform/src/cli/commands/research.ts
  packages/markform/src/cli/commands/run.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/research/runResearch.ts
  packages/markform/src/settings.ts
  packages/markform/tests/integration/programmaticFill.test.ts
  packages/markform/tests/integration/sessionReplay.test.ts
  packages/markform/tests/unit/harness/liveAgent.test.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: format, lint, typecheck

refactor: single CLI_DEFAULT_MAX_RETRIES constant, add --max-retries flag
  packages/markform/scripts/test-live-agent.ts
  packages/markform/src/cli/commands/fill.ts
  packages/markform/src/cli/commands/research.ts
  packages/markform/src/cli/commands/run.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/settings.ts
  packages/markform/tests/unit/harness/liveAgent.test.ts
Due: format, lint, typecheck

chore: add changeset for v0.1.29
  .changeset/v0.1.29.md
Due: none

chore: release markform v0.1.29
  .changeset/v0.1.29.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: format

chore: remove temporary release notes file
  release-notes.md
Due: none

fix: pass executionId to LiveAgent in serial fill path
  packages/markform/src/harness/programmaticFill.ts
Due: format, lint, typecheck

docs: add skip sentinel handling plan spec
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

docs: require golden session test for sentinel round-trip
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

tbd sync: 2026-02-25T20-01-21 (3 files)
  .tbd/data-sync/issues/is-01kjb68bfwten9kz81af16r1pn.md
  .tbd/data-sync/issues/is-01kjb68bfwv4w1n85ppxg19q3a.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd: migrate 3 file(s) from incorrect location
  .tbd/data-sync/issues/is-01kjb5skdwf67zr8153cy2sncb.md
  .tbd/data-sync/issues/is-01kjb5sqn1mkzkqeem098dtam3.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: merge prompt frontmatter hygiene into skip sentinel spec
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

docs: add line-level implementation and golden workflow details
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

docs: remove guardrail scope from skip sentinel spec
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

tbd sync: 2026-02-26T00-01-19 (9 files)
  .tbd/data-sync/issues/is-01kjb5skdwf67zr8153cy2sncb.md
  .tbd/data-sync/issues/is-01kjb5sqn1mkzkqeem098dtam3.md
  .tbd/data-sync/issues/is-01kjbkw2wk2q64na7phheawh9z.md
  .tbd/data-sync/issues/is-01kjbkw68dra8qypjg9b0gwjvm.md
  .tbd/data-sync/issues/is-01kjbkw9jgvpxqkt9pjsgf7yr3.md
  .tbd/data-sync/issues/is-01kjbkwgm1q8j5dw3zypkz2zx5.md
  .tbd/data-sync/issues/is-01kjbkwn6h7mzsnm41ewxkkvgm.md
  .tbd/data-sync/issues/is-01kjbkwrsp749dzf0c8rm670yv.md
  .tbd/data-sync/mappings/ids.yml
Due: format

feat: harden prompt contract for skip sentinel handling
  docs/markform-apis.md
  docs/markform-reference.md
  packages/markform/examples/prompt-hygiene/prompt-hygiene-mock-filled.form.md
  packages/markform/examples/prompt-hygiene/prompt-hygiene.form.md
  packages/markform/examples/prompt-hygiene/prompt-hygiene.session.yaml
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/scripts/regen-golden-sessions.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/tests/golden/validation.test.ts
  packages/markform/tests/integration/programmaticFill.test.ts
  packages/markform/tests/unit/harness/liveAgent.test.ts
Due: format, lint, typecheck

tbd: migrate 3 file(s) from incorrect location
  .tbd/data-sync/issues/is-01kjb5skdwf67zr8153cy2sncb.md
  .tbd/data-sync/issues/is-01kjb5sqn1mkzkqeem098dtam3.md
  .tbd/data-sync/issues/is-01kjbkw2wk2q64na7phheawh9z.md
  .tbd/data-sync/issues/is-01kjbkw68dra8qypjg9b0gwjvm.md
  .tbd/data-sync/issues/is-01kjbkw9jgvpxqkt9pjsgf7yr3.md
  .tbd/data-sync/issues/is-01kjbkwgm1q8j5dw3zypkz2zx5.md
  .tbd/data-sync/issues/is-01kjbkwn6h7mzsnm41ewxkkvgm.md
  .tbd/data-sync/issues/is-01kjbkwrsp749dzf0c8rm670yv.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-02-26T04-27-35 (2 files)
  .tbd/data-sync/issues/is-01kjc376ztmcakkzg96mdsz9v2.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: reconcile skip-sentinel plan spec status
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
Due: none

tbd sync: 2026-02-26T05-48-45 (5 files)
  .tbd/data-sync/issues/is-01kjc7fztgb7wed3s50ah0qs5t.md
  .tbd/data-sync/issues/is-01kjc7fztgg489y67pztjxyqcd.md
  .tbd/data-sync/issues/is-01kjc7g4y2zkgd95kdfx4p8we8.md
  .tbd/data-sync/issues/is-01kjc7jtr1jp9r00dny007hqez.md
  .tbd/data-sync/mappings/ids.yml
Due: format

fix(harness): tolerate scalar sentinel set-values and clean frontmatter parsing
  docs/markform-apis.md
  docs/markform-reference.md
  docs/project/specs/active/plan-2026-02-25-skip-sentinel-handling.md
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/tests/integration/programmaticFill.test.ts
  packages/markform/tests/unit/engine/apply.test.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  typecheck: any of: *.{ts,tsx}
