Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook git hooks configuration
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: pnpm lint --cache --fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test

docs: update coverage strategy with implementation status
  docs/project/research/test-coverage-strategy.md
Due: none

test: add coverage tests for apply.ts and serialize.ts edge cases
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/engine/serialize.test.ts
  packages/markform/vitest.config.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-functions.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

test: improve coverage with urlFormat and shared utility tests
  packages/markform/tests/unit/cli/shared.test.ts
  packages/markform/tests/unit/utils/urlFormat.test.ts
  packages/markform/vitest.config.ts
Due: lint, typecheck

ci: add tryscript CLI tests to CI workflow
  .github/workflows/ci.yml
Due: none

feat: unify vitest and tryscript coverage into single report
  packages/markform/package.json
  packages/markform/scripts/merge-coverage.sh
  packages/markform/tryscript.config.mjs
Due: lint

fix: remove redundant tryscript step from CI
  .github/workflows/ci.yml
Due: none

refactor: rewrite coverage merge script in TypeScript
  packages/markform/package.json
  packages/markform/scripts/merge-coverage.sh
  packages/markform/scripts/merge-coverage.ts
Due: lint, typecheck

fix: preserve function coverage in merged lcov output
  packages/markform/scripts/merge-coverage.ts
Due: lint, typecheck

fix: filter node_modules and update per-file coverage in merge
  packages/markform/scripts/merge-coverage.ts
Due: lint, typecheck

chore: add tsx dependency and c8 config for coverage
  packages/markform/.c8rc.json
  packages/markform/package.json
  pnpm-lock.yaml
Due: none

fix: filter node_modules from tryscript coverage output
  packages/markform/package.json
Due: none

docs: document standard LCOV merge algorithm in coverage script
  packages/markform/scripts/merge-coverage.ts
Due: lint, typecheck

docs: add research brief on coverage merging for CLI subprocess testing
  docs/project/research/current/research-coverage-merging-cli-subprocesses.md
Due: none

docs: add research brief for Tasklist CLI design
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

docs: add workflow mapping analysis to Tasklist research
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

chore: update beads last-touched timestamp
  .beads/last-touched
Due: none

docs: add notes, multi-mode, and atomic writes to Tasklist research
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

fix: correct checkbox tokens to match Markform spec
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

fix: align Note documentation with engine implementation
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

docs: add markdown-to-markform conversion research
  docs/project/research/current/research-tasklist-cli-design.md
Due: none

refactor: use tryscript coverage command for merged coverage reports
  packages/markform/package.json
  packages/markform/scripts/merge-coverage.ts
  packages/markform/tryscript.config.mjs
  pnpm-lock.yaml
Due: lint, typecheck

fix: add exclusion patterns to tryscript coverage to match vitest config
  packages/markform/package.json
Due: none

fix: run vitest and tryscript coverage separately
  packages/markform/package.json
Due: none

docs: add finding about NODE_V8_COVERAGE and Vite limitation
  docs/project/research/current/research-coverage-merging-cli-subprocesses.md
Due: none

Delete docs/project/research/current/research-coverage-merging-cli-subprocesses.md
  docs/project/research/current/research-coverage-merging-cli-subprocesses.md
Due: none

feat: use unified tryscript coverage command for merged vitest+CLI coverage
  packages/markform/.beads/issues.jsonl
  packages/markform/.beads/last-touched
  packages/markform/package.json
  packages/markform/tryscript.config.mjs
  pnpm-lock.yaml
Due: lint

fix: use vitest --coverage for primary coverage reporting
  packages/markform/.beads/issues.jsonl
  packages/markform/package.json
  packages/markform/tests/integration/cli.integration.test.ts
  packages/markform/tryscript.config.mjs
Due: lint, typecheck

docs: clarify CLI integration test coverage architecture
  packages/markform/tests/integration/cli.integration.test.ts
Due: lint, typecheck

docs: align coverage comments with updated tryscript reference docs
  packages/markform/tests/integration/cli.integration.test.ts
  packages/markform/tryscript.config.mjs
Due: lint, typecheck

feat: upgrade to tryscript v0.1.4 with --merge-lcov for unified coverage
  packages/markform/package.json
  packages/markform/tests/integration/cli.integration.test.ts
  packages/markform/tryscript.config.mjs
  pnpm-lock.yaml
Due: lint, typecheck

test: add unit tests for shared.ts log and file utilities
  packages/markform/tests/unit/cli/shared.test.ts
Due: lint, typecheck

refactor: convert CLI integration tests to tryscript format
  packages/markform/tests/cli/cli-integration.tryscript.md
  packages/markform/tests/integration/cli.integration.test.ts
  packages/markform/tests/unit/research/researchFormValidation.test.ts
  packages/markform/tryscript.config.mjs
Due: lint, typecheck

feat: add automated release notes generation from merged PRs
  .github/workflows/release.yml
  docs/publishing.md
  package.json
  scripts/draft-release-notes.ts
Due: lint, typecheck

docs: add CC-BY-4.0 license for spec, add CLA for contributors
  CONTRIBUTING.md
  README.md
  docs/markform-reference.md
  docs/markform-spec.md
Due: none

docs: add release notes process with format guide and example
  docs/publishing.md
Due: none

feat: add release:changes script for categorized commit review
  docs/publishing.md
  package.json
  scripts/release-notes.sh
Due: none
