Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

chore: release markform v0.1.27
  .changeset/v0.1.27.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: format

chore: remove temporary release notes file
  release-notes.md
Due: none

docs: add plan spec for table row validation
  docs/project/specs/active/plan-2026-02-20-validate-form-rows.md
Due: none

docs: refine spec with line-level code detail and separate docs phase
  docs/project/specs/active/plan-2026-02-20-validate-form-rows.md
Due: none

docs: fix spec inconsistencies before bead breakdown
  docs/project/specs/active/plan-2026-02-20-validate-form-rows.md
Due: none

chore: create epic and beads for table row validation spec
  .tbd/workspaces/outbox/issues/is-01khx9xwpv03xfg2cc5aqtwn8g.md
  .tbd/workspaces/outbox/issues/is-01khx9y5kgsweghjsdnt8wze22.md
  .tbd/workspaces/outbox/issues/is-01khx9yd02anf0w14rkt37mcej.md
  .tbd/workspaces/outbox/issues/is-01khx9ym9e1d2dyb3nh3dqs7qe.md
  .tbd/workspaces/outbox/issues/is-01khx9yvwgs8af6m7q1yp8jb6s.md
  .tbd/workspaces/outbox/issues/is-01khx9z3qgwx2s3gfnwbsnv45j.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format

feat: drop empty table rows, warn on sparse rows, strengthen minRows
  docs/markform-reference.md
  docs/markform-spec.md
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/src/engine/validate.ts
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/engine/parseTable.test.ts
  packages/markform/tests/unit/engine/validate.test.ts
Due: format, lint, typecheck

chore: save tbd outbox with closed beads
  .tbd/workspaces/outbox/issues/is-01khx9xwpv03xfg2cc5aqtwn8g.md
  .tbd/workspaces/outbox/issues/is-01khx9y5kgsweghjsdnt8wze22.md
  .tbd/workspaces/outbox/issues/is-01khx9yd02anf0w14rkt37mcej.md
  .tbd/workspaces/outbox/issues/is-01khx9ym9e1d2dyb3nh3dqs7qe.md
  .tbd/workspaces/outbox/issues/is-01khx9yvwgs8af6m7q1yp8jb6s.md
  .tbd/workspaces/outbox/issues/is-01khx9z3qgwx2s3gfnwbsnv45j.md
Due: none

refactor: review fixes — simplify isRowFullyEmpty, consolidate tests
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/tests/unit/engine/parseTable.test.ts
  packages/markform/tests/unit/engine/validate.test.ts
Due: format, lint, typecheck

chore: save tbd outbox with review fixes bead
  .tbd/workspaces/outbox/issues/is-01khy5qjtzdbp2189eh4x1xkea.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format

fix: correct bugs found during deep codebase review
  packages/markform/src/engine/inspect.ts
  packages/markform/src/engine/summaries.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/programmaticFill.ts
Due: format, lint, typecheck

feat: expose maxRetries in FillOptions for external retry control
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/programmaticFill.ts
Due: format, lint, typecheck

tbd sync: 2026-02-21T22-50-12 (7 files)
  .tbd/data-sync/issues/is-01khwspc7f1d55dt4qf8bf5yqc.md
  .tbd/data-sync/issues/is-01khwspczsxe1ams4d81bz0pz3.md
  .tbd/data-sync/issues/is-01khwspdg3mhj1a3edj5ajcq98.md
  .tbd/data-sync/issues/is-01khwspe6s27vdapb74488twem.md
  .tbd/data-sync/issues/is-01khwspeveztk7qf0cxgc2sgp0.md
  .tbd/data-sync/issues/is-01kj166gy9tgxd8203jhdfy7kp.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: add fill record comprehensive source-of-truth spec
  docs/project/specs/active/plan-2026-02-21-fill-record-comprehensive-source-of-truth.md
Due: none

tbd sync: 2026-02-21T23-00-12 (11 files)
  .tbd/data-sync/issues/is-01kj16f26j0nd26hkntjfg05c1.md
  .tbd/data-sync/issues/is-01kj16fbwwebk20z922qqmc07x.md
  .tbd/data-sync/issues/is-01kj16fc31qk9g44mt54764j6w.md
  .tbd/data-sync/issues/is-01kj16fc90mtzm7qdgatagnng5.md
  .tbd/data-sync/issues/is-01kj16fcea53nc7gzy56ar586d.md
  .tbd/data-sync/issues/is-01kj16fckjgv68t5c9rcpmfgrz.md
  .tbd/data-sync/issues/is-01kj16fcrrq0a3rn4t4eqq5xk9.md
  .tbd/data-sync/issues/is-01kj16fcyazg87jmjhnxrx6anj.md
  .tbd/data-sync/issues/is-01kj16fd3c7bf7c1nkv7qcyb4y.md
  .tbd/data-sync/issues/is-01kj16fd8m9cqxbgxfw48dny7z.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: revise fill record spec with 10 review fixes
  docs/project/specs/active/plan-2026-02-21-fill-record-comprehensive-source-of-truth.md
Due: none

fix: preserve aborted table rows, add missing tests, clean up spec
  docs/project/specs/active/plan-2026-02-20-validate-form-rows.md
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/src/engine/validate.ts
  packages/markform/tests/unit/engine/parseTable.test.ts
  packages/markform/tests/unit/engine/serialize.test.ts
  packages/markform/tests/unit/engine/summaries.test.ts
Due: format, lint, typecheck

tbd sync: 2026-02-21T23-08-42 (6 files)
  .tbd/data-sync/issues/is-01kj172f8734te910w0smnt053.md
  .tbd/data-sync/issues/is-01kj172ghmkxtfg82hnzpz81mb.md
  .tbd/data-sync/issues/is-01kj172hwdvhs36axr8dgj8xxs.md
  .tbd/data-sync/issues/is-01kj172jq28bh09mewbq2xsmjp.md
  .tbd/data-sync/issues/is-01kj172pgfcev6vvjx4s7b9cd0.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-02-21T23-08-47 (8 files)
  .tbd/data-sync/issues/is-01khx9xwpv03xfg2cc5aqtwn8g.md
  .tbd/data-sync/issues/is-01khx9y5kgsweghjsdnt8wze22.md
  .tbd/data-sync/issues/is-01khx9yd02anf0w14rkt37mcej.md
  .tbd/data-sync/issues/is-01khx9ym9e1d2dyb3nh3dqs7qe.md
  .tbd/data-sync/issues/is-01khx9yvwgs8af6m7q1yp8jb6s.md
  .tbd/data-sync/issues/is-01khx9z3qgwx2s3gfnwbsnv45j.md
  .tbd/data-sync/issues/is-01khy5qjtzdbp2189eh4x1xkea.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-02-22T00-26-28 (8 files)
  .tbd/data-sync/issues/is-01kj166gy9tgxd8203jhdfy7kp.md
  .tbd/data-sync/issues/is-01kj1av0s0tnpnqb314qmgabwk.md
  .tbd/data-sync/issues/is-01kj1avbcsfajkzp1pgd48pwha.md
  .tbd/data-sync/issues/is-01kj1avqsvvs91f3basxqme7qh.md
  .tbd/data-sync/issues/is-01kj1aw076g0mmng7b7ymzzj9z.md
  .tbd/data-sync/issues/is-01kj1awa9t9kts22gast5qh5zk.md
  .tbd/data-sync/issues/is-01kj1btjkz8gebb54dxynv081e.md
  .tbd/data-sync/mappings/ids.yml
Due: format

chore: add implementation beads for FillRecord source-of-truth epic
  .tbd/workspaces/outbox/issues/is-01khx9xwpv03xfg2cc5aqtwn8g.md
  .tbd/workspaces/outbox/issues/is-01khx9y5kgsweghjsdnt8wze22.md
  .tbd/workspaces/outbox/issues/is-01khx9yd02anf0w14rkt37mcej.md
  .tbd/workspaces/outbox/issues/is-01khx9ym9e1d2dyb3nh3dqs7qe.md
  .tbd/workspaces/outbox/issues/is-01khx9yvwgs8af6m7q1yp8jb6s.md
  .tbd/workspaces/outbox/issues/is-01khx9z3qgwx2s3gfnwbsnv45j.md
  .tbd/workspaces/outbox/issues/is-01khy5qjtzdbp2189eh4x1xkea.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format

feat: add FillRecord schema foundation for source-of-truth enrichment (mf-bkms)
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/index.ts
  packages/markform/src/version.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
Due: format, lint, typecheck

feat: wire config snapshot + provenance into FillRecord (mf-yq00)
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: format, lint, typecheck

fix: correct patchesApplied count in parallel path and pre-apply issues in CLI (mf-efak)
  packages/markform/src/cli/commands/fill.ts
  packages/markform/src/harness/programmaticFill.ts
Due: format, lint, typecheck

feat: wire per-turn enrichment into FillRecord timeline (mf-a796)
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
Due: format, lint, typecheck

feat: add --record-patches CLI flag for opt-in raw patches (mf-cpzn)
  packages/markform/src/cli/commands/fill.ts
  packages/markform/tests/unit/harness/fillRecordCollector.test.ts
Due: format, lint, typecheck

test: add integration tests and regenerate golden snapshots (mf-9nu3)
  packages/markform/tests/integration/programmaticFill.test.ts
Due: format, lint, typecheck

tbd sync: 2026-02-22T00-52-36 (7 files)
  .tbd/data-sync/issues/is-01kj166gy9tgxd8203jhdfy7kp.md
  .tbd/data-sync/issues/is-01kj1av0s0tnpnqb314qmgabwk.md
  .tbd/data-sync/issues/is-01kj1avbcsfajkzp1pgd48pwha.md
  .tbd/data-sync/issues/is-01kj1avqsvvs91f3basxqme7qh.md
  .tbd/data-sync/issues/is-01kj1aw076g0mmng7b7ymzzj9z.md
  .tbd/data-sync/issues/is-01kj1awa9t9kts22gast5qh5zk.md
  .tbd/data-sync/issues/is-01kj1btjkz8gebb54dxynv081e.md
Due: none

docs: mark FillRecord source-of-truth spec as implemented
  docs/project/specs/active/plan-2026-02-21-fill-record-comprehensive-source-of-truth.md
Due: none

chore: upgrade tryscript to v0.1.7
  package.json
  pnpm-lock.yaml
Due: format

fix: review fixes for FillRecord source-of-truth branch
  packages/markform/src/cli/commands/fill.ts
  packages/markform/src/harness/fillRecord.ts
  packages/markform/src/harness/fillRecordCollector.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/index.ts
Due: format, lint, typecheck

tbd sync: 2026-02-22T01-31-55 (7 files)
  .tbd/data-sync/issues/is-01kj1f9sxkcd4nys3rfke4vgcc.md
  .tbd/data-sync/issues/is-01kj1f9txqg3cc90c8569b9v58.md
  .tbd/data-sync/issues/is-01kj1f9vm1hhzej2w02zf50nh3.md
  .tbd/data-sync/issues/is-01kj1f9wfw783vxx1r5vbcnms3.md
  .tbd/data-sync/issues/is-01kj1f9zqqcebj9jsdm900z8dv.md
  .tbd/data-sync/issues/is-01kj1fa0kv4nqm0kcwv3qtrpy5.md
  .tbd/data-sync/mappings/ids.yml
Due: format

fix: add defensive state check in isRowFullyEmpty
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/tests/unit/engine/parseTable.test.ts
Due: format, lint, typecheck

docs: clarify 'more than half' threshold for row sparseness warnings
  docs/markform-reference.md
  docs/markform-spec.md
Due: none

test: organize mostly-empty row warning tests in describe block
  packages/markform/tests/unit/engine/validate.test.ts
Due: format, lint, typecheck

refactor: extract shared isCellEmpty helper to avoid duplication
  packages/markform/src/engine/table/parseTable.ts
  packages/markform/src/engine/validate.ts
  packages/markform/tests/unit/engine/parseTable.test.ts
Due: format, lint, typecheck

tbd sync: 2026-02-22T02-31-54 (7 files)
  .tbd/data-sync/issues/is-01kj1j6m7rsmrx9qbb7f1jk9q7.md
  .tbd/data-sync/issues/is-01kj1j6n9gqetvvy9f2ve4bn8x.md
  .tbd/data-sync/issues/is-01kj1j6nzbf97jaqk3qs620cbj.md
  .tbd/data-sync/issues/is-01kj1j6pq6vsw1yw4d6b0r9hk8.md
  .tbd/data-sync/issues/is-01kj1j6qays9nwfefzp2f9c35y.md
  .tbd/data-sync/issues/is-01kj1j6r4v73z3bs268d3671rk.md
  .tbd/data-sync/mappings/ids.yml
Due: format

chore: clean up closed tbd issues from outbox
  .tbd/workspaces/outbox/issues/is-01khx9xwpv03xfg2cc5aqtwn8g.md
  .tbd/workspaces/outbox/issues/is-01khx9y5kgsweghjsdnt8wze22.md
  .tbd/workspaces/outbox/issues/is-01khx9yd02anf0w14rkt37mcej.md
  .tbd/workspaces/outbox/issues/is-01khx9ym9e1d2dyb3nh3dqs7qe.md
  .tbd/workspaces/outbox/issues/is-01khx9yvwgs8af6m7q1yp8jb6s.md
  .tbd/workspaces/outbox/issues/is-01khx9z3qgwx2s3gfnwbsnv45j.md
  .tbd/workspaces/outbox/issues/is-01khy5qjtzdbp2189eh4x1xkea.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format

chore: add changeset for v0.1.28
  .changeset/v0.1.28.md
Due: none

chore: release markform v0.1.28
  .changeset/v0.1.28.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  typecheck: any of: *.{ts,tsx}
