Repository jlevy/markform: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook git hooks configuration
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: pnpm lint --cache --fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test

fix: improve checkbox/table error messages and add boolean coercion
  .beads/issues.jsonl
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/valueCoercion.ts
  packages/markform/tests/unit/valueCoercion.test.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-functions.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

docs: document boolean coercion for checkbox values
  docs/markform-apis.md
Due: none

feat: export serializeReportMarkdown in public API
  .beads/issues.jsonl
  docs/markform-apis.md
  packages/markform/src/index.ts
Due: lint, typecheck

docs: clarify boolean coercion applies to fillForm inputContext
  docs/markform-apis.md
Due: none

refactor: rename serialize functions for clarity
  docs/markform-apis.md
  packages/markform/scripts/regen-golden-sessions.ts
  packages/markform/src/cli/commands/apply.ts
  packages/markform/src/cli/commands/export.ts
  packages/markform/src/cli/commands/fill.ts
  packages/markform/src/cli/commands/report.ts
  packages/markform/src/cli/commands/serve.ts
  packages/markform/src/cli/lib/exportHelpers.ts
  packages/markform/src/engine/serialize.ts
  packages/markform/src/harness/harness.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/index.ts
  packages/markform/src/integrations/vercelAiSdkTools.ts
  packages/markform/tests/golden/golden.test.ts
  packages/markform/tests/golden/runner.ts
  packages/markform/tests/unit/engine/serialize-fence.test.ts
  packages/markform/tests/unit/engine/serialize.test.ts
  packages/markform/tests/unit/engine/simple-form-validation.test.ts
Due: lint, typecheck

feat: support boolean checkbox values and standardize patch property names
  .beads/issues.jsonl
  packages/markform/examples/rejection-test/rejection-test.session.yaml
  packages/markform/examples/simple/simple-mock-filled.schema.json
  packages/markform/examples/simple/simple-skipped-filled.schema.json
  packages/markform/examples/simple/simple-with-skips.session.yaml
  packages/markform/examples/simple/simple.schema.json
  packages/markform/examples/simple/simple.session.yaml
  packages/markform/scripts/test-live-agent.ts
  packages/markform/src/cli/commands/serve.ts
  packages/markform/src/cli/lib/initialValues.ts
  packages/markform/src/cli/lib/interactivePrompts.ts
  packages/markform/src/cli/lib/patchFormat.ts
  packages/markform/src/engine/apply.ts
  packages/markform/src/engine/coreTypes.ts
  packages/markform/src/engine/jsonSchema.ts
  packages/markform/src/engine/session.ts
  packages/markform/src/engine/valueCoercion.ts
  packages/markform/src/harness/mockAgent.ts
  packages/markform/tests/unit/cli/initialValues.test.ts
  packages/markform/tests/unit/cli/interactivePrompts.test.ts
  packages/markform/tests/unit/cli/patchFormat.test.ts
  packages/markform/tests/unit/engine/apply.test.ts
  packages/markform/tests/unit/engine/coreTypes.test.ts
  packages/markform/tests/unit/harness/harness.test.ts
  packages/markform/tests/unit/harness/mockAgent.test.ts
  packages/markform/tests/unit/harness/prompts.test.ts
  packages/markform/tests/unit/jsonSchema.test.ts
  packages/markform/tests/unit/valueCoercion.test.ts
Due: lint, typecheck

beads: Update.
  .beads/issues.jsonl
Due: none

chore: add changeset for v0.1.11
  .changeset/v0.1.11.md
Due: none

chore: release markform v0.1.11
  .changeset/v0.1.11.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

docs: add plan spec for tryscript CLI end-to-end testing
  docs/project/specs/active/plan-2026-01-02-tryscript-cli-testing.md
  packages/markform/package-lock.json
  packages/markform/package.json
Due: none

docs: enhance tryscript plan with golden testing best practices
  .beads/issues.jsonl
  .beads/last-touched
  docs/project/specs/active/plan-2026-01-02-tryscript-cli-testing.md
Due: none

feat: implement tryscript CLI end-to-end testing
  .beads/issues.jsonl
  .beads/last-touched
  .github/workflows/ci.yml
  docs/development.md
  packages/markform/package.json
  packages/markform/tests/cli/commands.tryscript.md
  packages/markform/tests/cli/workflows.tryscript.md
  packages/markform/tryscript.config.ts
Due: lint, typecheck

docs: add plan spec for resumable form fills feature
  docs/project/specs/active/plan-2026-01-02-resumable-form-fills.md
Due: none

docs: enhance resumable form fills plan with testing and design review
  docs/project/specs/active/plan-2026-01-02-resumable-form-fills.md
Due: none

docs: add tryscript improvement analysis
  .beads/issues.jsonl
  .beads/last-touched
  docs/project/specs/active/plan-2026-01-02-tryscript-cli-testing.md
Due: none

docs: simplify testing plan to unit tests only
  docs/project/specs/active/plan-2026-01-02-resumable-form-fills.md
Due: none

docs: add comprehensive tryscript bug report and enhancement proposals
  docs/project/specs/active/tryscript-bug-report.md
Due: none

beads: create implementation plan for resumable form fills
  .beads/issues.jsonl
  .beads/last-touched
Due: none

docs: expand tryscript bug report with detailed examples
  docs/project/specs/active/tryscript-bug-report.md
Due: none

chore: close completed tryscript testing phase issues
  .beads/issues.jsonl
Due: none

chore: update beads last-touched
  .beads/last-touched
Due: none

feat: add resumable form fills support
  .beads/issues.jsonl
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: lint, typecheck

docs: add validation plan for tryscript CLI testing
  docs/project/specs/active/plan-2026-01-02-tryscript-cli-testing.md
  docs/project/specs/active/valid-2026-01-02-tryscript-cli-testing.md
Due: none

fix: update pnpm-lock.yaml, remove stray npm lockfile
  packages/markform/package-lock.json
  pnpm-lock.yaml
Due: none

docs: add implementation status and validation plan
  docs/project/specs/active/plan-2026-01-02-resumable-form-fills.md
  docs/project/specs/active/valid-2026-01-02-resumable-form-fills.md
Due: none

fix: use ESM config for tryscript to support CI
  packages/markform/tryscript.config.mjs
Due: lint

fix: skip tryscript tests in CI until tool bugs fixed
  .github/workflows/ci.yml
  docs/project/specs/active/valid-2026-01-02-tryscript-cli-testing.md
Due: none

docs: add resumable form fills to API documentation
  docs/markform-apis.md
  docs/project/architecture/current/arch-markform-design.md
Due: none

refactor: rename maxTurns to maxTurnsTotal for clarity
  docs/markform-apis.md
  docs/project/architecture/current/arch-markform-design.md
  docs/project/specs/active/plan-2026-01-02-resumable-form-fills.md
  docs/project/specs/active/valid-2026-01-02-resumable-form-fills.md
  packages/markform/src/cli/commands/research.ts
  packages/markform/src/cli/commands/run.ts
  packages/markform/src/harness/harnessConfigResolver.ts
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/research/runResearch.ts
  packages/markform/tests/integration/sessionReplay.test.ts
  packages/markform/tests/unit/harness/harnessConfigResolver.test.ts
  packages/markform/tests/unit/harness/programmaticFill.test.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-branches.svg
  badges/packages/markform/coverage-lines.svg
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

fix: standardize patch property names to use 'value' uniformly
  docs/markform-apis.md
  docs/markform-spec.md
  docs/project/architecture/current/arch-markform-design.md
  packages/markform/src/harness/prompts.ts
  packages/markform/tests/unit/harness/prompts.test.ts
Due: lint, typecheck

chore: add changeset for v0.1.12
  .changeset/v0.1.12.md
Due: none

chore: release markform v0.1.12
  .changeset/v0.1.12.md
  packages/markform/CHANGELOG.md
  packages/markform/package.json
Due: none

fix: increase maxStepsPerTurn default from 3 to 20
  packages/markform/src/harness/harnessTypes.ts
  packages/markform/src/harness/liveAgent.ts
  packages/markform/src/harness/programmaticFill.ts
  packages/markform/src/settings.ts
  packages/markform/tests/unit/settings.test.ts
Due: lint, typecheck

Updating coverage badges
  badges/packages/markform/coverage-statements.svg
  badges/packages/markform/coverage-total.svg
Due: none

docs: add maxStepsPerTurn to API documentation
  docs/markform-apis.md
  packages/markform/tests/unit/settings.test.ts
Due: lint, typecheck

docs: add plan spec for best-effort patch application with coercion
  docs/project/specs/active/plan-2026-01-02-best-effort-patch-application.md
Due: none

docs: restructure spec updates into separate recommendation sections
  docs/project/specs/active/plan-2026-01-02-best-effort-patch-application.md
Due: none
